::-webkit-scrollbar {
    width: 1px;
  }

.full__container{
    height:100%;
    width:100%;
    .buttons__container{
        display: flex;
        justify-content:center;
        .btn__div{
            margin-right: 10px;
        }
    }
    .score__container{
        display:flex;
        justify-content: space-around;
    }
    .questions__box{
        width: 90vw;
        margin: auto;
        height: auto;
        background-color: white;
        border-radius:8px;
        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .arrows{
                height: 80%;
                .arrow__item__container{
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                    height:100%;
                    align-items:center;
                }
                .round__ans{
                    height: 15px;
                    width:15px;
                    border: 1px solid black;
                    border-radius: 15px;
                }
                .arrow__item{
                    display: flex;
                    justify-content:space-between;
                    height:100%;
                    align-items:center;
                }
                .round__ans_q{
                    width:20px; 
                    height:20px;
                    border-radius:20px;
                    background: red;
                }
            }
        }
    }
}



@media (min-width: 1024px) {
    .text {
      font-size: 14px;
    }
  }


@media (min-width: 768px) and (max-width: 1023px) {
    .text {
      font-size: 12px;
    }
  }

  
@media (min-width: 425px) and (max-width: 767px) {
    .text {
      font-size: 10px;
    }
  }

  @media (min-width: 300px) and (max-width: 424px) {
    .text {
      font-size: 8px;
    }
  }

